$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$primary-color: #004d79;
$secondary-color: #3678a8;
$white-text: #fff;
$body-bgColor: #f6f6f6;
$font-family: "Montserrat", sans-serif;
$card-radius:0.25rem;
$btn-radius:15px;
$capitalize:capitalize;
$largeMargin:2rem;
$margin:1rem;
$iconDefaultBgColor:#fff;
$mediumFont:500;
$boldFont:600;
$redColor:#dc4c4b;
$greenColor:#00b396;