.container-bg{
    background-color: hsl(242deg 88% 66%);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box{
    background-color: #dee2e6;
    color: hsl(240deg 20% 40%);
    width: 302px;
    height: 50vh;
    border-radius: 12px;
}
.form-signin {
    max-width: 370px;
    padding: 15px;
    width: 370px !important;
}

.main_div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.box-padding{
    padding: 20px;
}

