@import "./scss/variable";
@import "./scss/mixin";
@import "./scss/responsive";

body {
  background-color: #f5f5f5 !important;
}
html, body {
  height: 100%;
}
.font_lg{
   font-size: 3rem;
 }
.font_md{
  font-size: 2rem;
}
.font_sm{
  font-size: 1.5rem;
}
.font_xs{
  font-size: 1rem !important;
}
.font_small{
  font-size: 0.75rem !important;
}
.font_medium{
  font-size: 1.2rem !important;
}
.secondary_text_color {
    color: $secondary-color;
  }
.secondary_text_color:hover{
    color: $secondary-color;
  }
.secondary_text_color:focus {
    color: $secondary-color;
  }
.primary_text_color {
    color: $primary-color;
}
  
.secondary_button_bg_color {
    background-color: $secondary-color !important;
    color: $white-text !important;
  }
.primary_button_bg_color {
    background-color: $primary-color !important;
    color: $white-text !important;
}
  
.transparent_border {
    border-color: transparent !important;
 }

.box_shadow {
   box-shadow: $box-shadow;
}

.mt_large {
    margin-top: $largeMargin;
}
.mb_large {
    margin-bottom: $largeMargin;
}
.text-center {
  text-align: center!important;
}
  
